@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-primario: #001f54;
    --color-secundario: #0e34a0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
    font-size: 15px;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: Opens Sans;
    min-height: 100vh;
}
header{
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    font-weight: bold;
    background-color: var(--color-primario);

    & .media-links{
        display: flex;
        gap: 1rem;
    }

    & .links{
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    & a{
        text-decoration: none;
        color: #fff;
    }

    & a:hover{
        /* color: var(--color-primario); */
    }
}

.header-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    background-color: #fff;

    & .logo img{
        height: 60px;
        padding-left: 30px;
    }

    & nav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 1.3rem;

        & a:hover{
            color: var(--color-primario);
        }
    }

    & a{
        text-decoration: none;
        padding: 6px;
        color: var(--color-secundario);
    }

    & .admision{
        background-color: var(--color-secundario);
        color: #fff;
        border-radius: 9px 1px;
        font-weight: bold;
        padding: 6px 15px;
    }

    & .admision:hover{
        background: var(--color-primario);
    }
}

