@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Cómo uso las fuentes que descargo?*/

:root{
    --color-primario: #001f54;
    --color-secundario: #0e34a0;
    /* --color-claro: #d7dceb;
    --color-white: #fff; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Roboto;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;

}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75;
}

/* .slider img{
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.slider{
    position: relative;
}

.admission-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: orange;
    border-radius: 9px;
    gap: 10px;
    position: absolute;
    top: 130px;
    left: 50px;

    & form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        & input, select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid;
        }
    }
    & .tyc{
        display: flex;
    }
} */